<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fr.Afcepf.Anarmorique.Aubin.Properties.Settings.ConnectionString"
            connectionString="Provider=MSDAORA;Data Source=AFCEPF;Persist Security Info=True;Password=ai4;User ID=ai4"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>